* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

.noMargin {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #999;
}

p {
	font-size: 12px;
}

#mainMenu {
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	padding: 15px;
}

#menuBar {
	background-color: black;
	color: white;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}

#menuBar:hover {
	background-color: #777777;
}

#colourMenu {
	list-style-type: none;
	padding: 0;
	width: auto;
}

#colourMenu li {
	display: inline-block;
}

#container {
	background-color: #AAAAAA;
	width: 1170px;
	height: 550px;
	border-radius: 20px;
	padding: 15px;
	padding-left: 20px;
	display: relative;
	font-family: Helvetica, sans-serif;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#mainArea {
	
}

#canvasContainer {

}

#canvasContainer > h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	
}

#canvas {

}

#brushSize {
	display: inline-block;
	margin: 10px;
	margin-bottom: 0;
}

#brushSizeDisplay {
	display: inline-block;
	margin: 10px;
	margin-top: 0;
	padding: 0;
}

#menu {
	display: inline-block;
	margin-left: 50px;
	margin-top: 28px;
	width: 40%;
}


.colourButton {
	width:auto;
	height: auto;
	margin: 5px;
	color: white;
	border-radius: 8px;
	font-size: 12px;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}

#blackBtn {
	background-color: black;
}

#redBtn{
	background-color: red;
}

#greenBtn {
	background-color: green;
}

#blueBtn {
	background-color: blue;
}

#whiteBtn {
	background-color: white;
	color: black;
}

#wipe {
	width: auto;
	height: auto;
	margin: 5px;
	color: black;
	border-radius: 8px;
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
	background-color: white;
	font-weight: bold;
}

#rgba {
	margin-bottom: 20px;
}

#rgba > p {
	display: inline;

}

#colourPreviewBack {
	background-color: white;
	height: 50px;
	width: auto;
	margin-top: 10px;

}

#colourPreview {
	width: auto;
	height: 50px;
	background-color: none;
	z-index: 100;

}

.customColour {
	height: 50px;
	width: 12.5%;
	display: inline-block;
	margin-right: 5px;
	/*background-color: white;*/
	cursor: pointer;
}

#colourMixer {
	border: 1px solid black;
	padding: 4px;

}

.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: blue;
}

#saveColour {
	background-color: black;
	color: white;

}